<%- model_class = Image -%>
<div class="page-header">
  <h2>Your Collection</h2>
</div>
<div class="container">
    <ul class="list-unstyled">
    <% @images.each_with_index do |image,i| %>
      <div class="col-md-4 col-xs-12">
        <li>
          <%= link_to image_tag(image.picture.url, size: '300x300',
              class:'img-thumbnail img-responsive center-block'), image_path(image)
          %>
        </li>
      </div>
    <% end %>
    </ul>
</div>
<div class="row">
      <%= link_to "Upload New Image",
            new_image_path,
            :class => 'center-block btn btn-primary' %>
</div>
